.videoPage{
  .text{
    h1{
      text-transform: capitalize;
      color: $green900;
    }
  }
  
  .banner{
    .col-xl-3,
    .col-lg-3{
      margin-top: 30px;
    }

    .banner-vid-img{
      position: relative;
      img{
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
      .video-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        a{
          background: #fff;
          color: #ff1313;
          width: 60px;
          height: 60px;
          display: inline-block;
          text-align: center;
          line-height: 60px;
          border-radius: 50%;
          transform: scale(0.5);
          opacity: 0;
          visibility: hidden;
          &::after{
              position: absolute;
              border: 51px solid rgba(255,255,255,0.2);
              content: "";
              border-radius: 50%;
              left: -20px;
              top: -21px;
              right: 0;
              z-index: 0;
              background: #0000;
          }
          @media #{$sm}{
              width: 60px;
              height: 60px;
              line-height: 60px;
          }
          @media #{$xs}{
              width: 60px;
              height: 60px;
              line-height: 60px;
          }
          i{
              font-size: 20px;
              font-size: 20px;
              line-height: 1;
              position: relative;
              right: -2px;
              top: 2px;
          }
          &::before{
              content: '';
              display: inline-block;
              position: absolute;
              top: -2px;
              left: -2px;
              bottom: -2px;
              right: -2px;
              border-radius: inherit;
              border: 1px solid #fff;
              -webkit-animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
              animation: btnIconRipple 2s cubic-bezier(0.23, 1, 0.32, 1) both infinite;
          }
          @-webkit-keyframes btnIconRipple {
              0% { border-width: 4px;
                  -webkit-transform: scale(1);
                  transform: scale(1); }
              50% {
                  border-width: 1px;
                  -webkit-transform: scale(1.50);
                  transform: scale(1.50);
                  }
              80% {
                  border-width: 1px;
                  -webkit-transform: scale(1.90);
                  transform: scale(1.90);
                  }
              100% {
                  opacity: 0; }
              }
              &:hover{
                  // background: #c6a16e;
                  background: #ff1313;
                  color: #fff;
              }
        }
      }

      &:hover{
        overflow: hidden;
        img{
            @include transform(scale(1.04));
        }
        .video-icon{
            a{
                transform: scale(1);
                opacity: 1;
                visibility: visible;
            }
        }
      }
    }
    .statusText{
      p{
        text-align: center;
        .redText{
          color: $red800;
          text-transform: capitalize;
        }
        .yellowText{
          color: $yellow500;
          text-transform: capitalize;
        }
        .greenText{
          color: $green900;
        }
      }
    }
  }
}
